@import "material/bootstrap";
@import "material/bootstrap/mixins";
@import "material/bootstrap-material-design";
@import "material/ripples";

.bhp {
	background-color: #c40019 !important;
	color: white !important;
	text-transform: none;
}

.dis {
	background-color: #148d35 !important;
	color: white !important;
	text-transform: none;
} 