
.bhp {
	background-color: #c40019 !important;
	color: white !important;
	text-transform: none;
}

.dis {
	background-color: #148d35 !important;
	color: white !important;
	text-transform: none;
}

.bhp-status-panel {
	text-align: center;
	font-size: 16px;
}

.dis-status-panel {	
	text-align: center;
	font-size: 16px;
}