@import '../../colors.scss';

.financeButton {
	background-color: $button-primary;
	border: none;
	font-size: 18px;
	padding: 5px 20px;
	transition: all 0.5s;
	box-shadow: 0 0 2px 0 $shadow-color;
	border-radius: 2px;
	color: $button-text;

	&:hover {
		cursor: pointer;
	}
	
	&:focus {
		transition: all 0.5s;
		outline: none;
		background-color: lighten($button-primary, 5%);
	}
}