extends layout

block head
  link(href="/css/config.css", rel="stylesheet")

block content
  div.container
    h1 Configuration Page
    div.jumbotron
      div.panel.panel-default
        div.panel-heading Configurations
        div.panel-body
          h3 Banks:
        //-   button.btn.btn-raised.btn-default.bhp.bhp-get-status BankHapoalim
        //-   button.btn.btn-raised.btn-default.dis.dis-get-status Discount
        //-   h3 Credits:

block body_bottom
//-   script(src="/dist/config/configBootstrap.js")