extends layout

block head
//-   link(href="/css/financial_state.css", rel="stylesheet")

block content
  div(id="app")

block body_bottom
  script(src="https://d3js.org/d3.v4.min.js")
  script(src="/dist/finance_control/financeControlApp.js")