body {
	@import url('https://fonts.googleapis.com/css?family=Roboto');
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-color: #fafafa;
	color: #000;
}

.financeCard {
	margin: 25px;
}